@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Roboto', sans-serif!important;
    text-decoration: none;
    
}
::-webkit-scrollbar{
    display: none;
}


.placeholder  input::placeholder{
    color:white
}


.mobileNavbar{
    transition: 1s ease-in-out;
}

.dark .MuiInputLabel-animated{
    color: rgba(255, 255, 255, 0.7) !important;
}


.downloadChip{

}

.downloadChip:hover{
    color: white;
}

.login_layout{
    background: url(assets/pictures/slider/login4.jpg);
}

.form_login{
    padding: 20px;
    backdrop-filter: blur(10px);
    justify-content: center;
    border-radius: 10px;
}